<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ ring_name }}</title>
    <meta
      name="description"
      content="Webring of current and former UCSD students."
    />
    <meta name="theme-color" content="#47e7ce" />

    <link rel="stylesheet" href="./styles-index.css" />
  </head>
  <body>
    <div class="sidebar">
      <h1>{{ ring_name }}</h1>
      <p class="desc">
        <a href="https://en.wikipedia.org/wiki/Webring">Webring</a> of current
        and former UCSD students.
      </p>
      <p>
        github:
        <a
          style="color: var(--base11)"
          href="https://github.com/pink10000/gathering"
          >pink10000/gathering</a
        >
      </p>
      <p>
        opml:
        <a style="color: var(--base11)" href="{{ opml }}">gathering.opml</a>
      </p>
      <p>
        last-updated:
        <span style="color: var(--base11)">{{ current_time }}</span>
      </p>
      <p>
        powered-by:
        <a
          href="https://github.com/k3rs3d/ringfairy"
          style="color: var(--base11)"
          >ringfairy</a
        >
      </p>
    </div>

    <div>
      {% if sites %} <span class="macro">vec!</span>[
      {% for site in sites %}
      <p class="site">
        <span class="keyword site-name">Site</span> {{ "{" }}
        <br /><span class="keyword">link</span>:
        <a href="{{ site.website.url }}">{{ site.website.name }}</a>,
        {% if site.website.rss %}
        <br /><span class="keyword">rss</span>:
        <span class="symbol">Some</span>(<a class="symbol" href="{{ site.website.rss }}">"{{ site.website.rss }}"</a>),
        {% endif %} {% if site.website.atom %}
        <br /><span class="keyword">atom</span>:
        <span class="symbol">Some</span>(<a class="symbol" href="{{ site.website.atom }}">"{{ site.website.atom }}"</a>),
        {% endif %}
        <br /><span class="keyword">about</span>:
        <span class="string"
          >"{{ site.website.about | default(value="") }}"</span
        >
      </p>
      &nbsp;&nbsp;&nbsp;&nbsp;{{ "}," }}
      {% endfor %} 
      <br />
      ]
      {% endif %} {% if failed_sites %} The following member sites
      were not included in this iteration of the webring:
      <ul>
        {% for site in failed_sites %}
        <li>{{ site.website.url }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p class="faded">
        ; theme:
        <a href="https://github.com/camellia-theme/camellia">camellia</a>
      </p>
    </div>
  </body>
</html>
