name: wheeze
on:
  issues:
    types: opened
jobs:
  splegh:
    name: cough
    if: ${{ contains(github.event.issue.labels.*.name, 'question') }}
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
    steps:
      - uses: actions/checkout@v4
      - name: Write to data/comments.yml
        run: echo '${{ github.event.issue.body }}' >> websites.toml
      - name: Push changes
        run: |
          git config --local user.name 'Github Actions: ${{ github.action }} (for @${{ github.event.sender.login }})'
          git config --local user.email '${{ github.event.sender.login }}@users.noreply.github.com'
          git checkout -b add-${{ github.event.issue.number }}
          git add websites.toml
          git commit -m "add @${{ github.event.sender.login }}

          Resolves #${{ github.event.issue.number }}"
          git push -u origin add-${{ github.event.issue.number }}
          gh pr create --title "Add @${{ github.event.sender.login }}" --body "Adds @${{ github.event.sender.login }}

          Resolves #${{ github.event.issue.number }}"
    permissions:
      contents: write
      pull-requests: write
